* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {

}
/* Banner */
#banner {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#banner a {
    display: inline-block;
    margin-left: 20px;
}
.banner-content {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.color {
    color: #ef7998;
}
.banner-content ul {
    display: flex;
    list-style-type: none;
}
.banner-content ul li {
    padding: 0 10px;
    transition: all 0.5s;
    font-size: 20px;
}
.banner-content ul li:hover {
    color: black;
    transition: all 0.5s;
}
.phone-cost {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.phone-cost i {
    padding-right: 15px;
    font-size: 20px;
}
/* header */
#header {
    height: 100vh;
    background-image: url('https://romeojeremiah.github.io/Filter-Project/img/headerBcg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header h1 {
    font-size: 40px;
    color: rgb(95, 95, 95);
}
span {
    font-size: 70px;
}
.explore {
    display: inline-block;
    padding: 15px;
    border: 2.5px solid black;
    transition: all 0.3s;
    border-radius: 5px;
}
.explore:hover {
    background-color: black;
    transition: all 0.3s;
    color: #ef7998;
}
/* sidebar */
#sidebar {
    display: flex;
    width: 900px;
    margin: 0 auto;
}
.compalySidebar, .demoImg {
    padding: 50px 0;
}
.compalySidebar p{
    margin: 20px 0;
}
.compalySidebar h2{
    font-size: 40px;
}
.demoImg img {
    width: 400px;
}
/* ::content */
#content {
    background-color: #eee;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
#content h2 {
    font-size: 50px;
}
.menuStore {
    margin: 0 auto;
}
.menuStore ul {
    width: 700px;
    margin: 30px auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.menuStore ul li {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
/* search */
.search {
    width: 600px;
    margin: 0 auto;
    /* background-color: rgb(19, 6, 10); */
    display: flex;
    justify-content: space-around;
}
.search form {
    width: 80%;
    display: flex;
    margin-bottom: 30px;
}
.search button {
    padding: 13px;
    background-color: #ef7998;
}
.search input {
    padding: 0 15px;
    width:100%;
}
.products {
    background-color: #eee;
    width: 100%;
    margin: 0 auto;
}
.row {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    max-width: 60%;
    margin: 0 auto;
}
.products img {
    max-width: 350px;
}
.row .box1 {
    border: 1px solid black;
    max-width: 350px;
}
.row span, p{
    font-size: 20px;
}
.row .info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
/* footer */
#footer{
    width: 200px;
    margin: 30px auto;
    color: rgb(149, 149, 149);
}